<div class="footer">
    <div class="footer-body">
        <div class="footer-column">
            <i class="bi bi-film footer-logo footer-column-title"></i>
            <div>
                We create attractive visual content for your multimedia presentation. Creativity, emotions and stories 
            </div>
        </div>
        <div class="footer-column">
            <h3 class="footer-column-title">Links</h3>
            <div class="footer-row"> Daniel Preciado</div>
            <div class="footer-row"> Alan Ortega</div>
            <div class="footer-row">Juan Pascal</div>
        </div>
        <div class="footer-column footer-column--lg">
            <h3 class="footer-column-title">Contact</h3>
            <div class="footer-row">
                <i class="bi bi-house-door-fill"></i>
                <p>Preßgasse 28/30 (4 bezirk), Vienna, Austria</p>
            </div>
            <div class="footer-row">
                <i class="bi bi-telephone-fill"></i>
                <p>+52 123 543 653</p>
            </div>
            <div class="footer-row">
                <i class="bi bi-envelope-fill"></i>
               <p>info&#64;alan.com</p>
            </div>
            <div class="footer-row">
                <i class="bi bi-facebook"></i>
                <i class="bi bi-instagram"></i>
                <i class="bi bi-youtube"></i>
            </div>
        </div>
        <div class="footer-column">
            <h3 class="footer-column-title">Invoicing</h3>
            <div class="footer-row"> Daniel Preciado</div>
            <div class="footer-row"> Alan Ortega</div>
            <div class="footer-row">Juan Pascal</div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="footer-bottom-rights">© 2020 Pinarto | Made by A.Ortega</div>
    </div>
    <div *ngIf="showGoUpButton" class="scroll-to-top" >
        <button type="button" class="btn btn-outline-dark scroll-to-top-button" (click)="scrollToTop()">
            <i class="bi bi-chevron-up h6 scroll-to-top-icon"></i>
        </button>
    </div>
</div>