<app-page [headerTheme]="headerTheme">
    <div class="contact">
        <!-- Google maps -->
        <div class="contact-map"></div>
        <div class="contact-body">
            <div class="contact-body-info">
                <div class="contact-body-container">
                    <h1>Contact information</h1>
                    <div class="contact-body-row">
                        <i class="bi bi-geo-alt-fill"></i>
                        <div class="contact-body-row-body">
                            <h4>Address</h4>
                            <p>Preßgasse20/30 (4 bezirk), Vienna, Austria</p>
                        </div>
                    </div>
                    <div class="contact-body-row">
                        <i class="bi bi-telephone-fill"></i>
                        <div class="contact-body-row-body">
                            <h4>Phone</h4>
                            <p>+49 516 654 346</p>
                        </div>
                    </div>
                    <div class="contact-body-row">
                        <i class="bi bi-envelope-fill"></i>
                        <div class="contact-body-row-body">
                            <h4>Email</h4>
                            <p>info&#64;alan.com</p>
                        </div>
                    </div>
                </div>
                <div class="contact-body-container">
                    <h1>Invoicing</h1>
                    <div class="contact-body-row">
                        <i class="bi bi-pen-fill"></i>
                        <div class="contact-body-row-body">
                            <h4>ALAN S.R.O</h4>
                            <p>Preßgasse20/30 (4 bezirk), Vienna, Austria</p>
                        </div>
                    </div>
                    <div class="contact-body-row">
                        <i class="bi bi-file-earmark-text-fill"></i>
                        <div class="contact-body-row-body">
                            <h4>IČ / DIČ</h4>
                            <p>
                                <span>+49 516 654 346 / (EU 234 23 435)</span>
                                <br>
                                <span>Alan inc:</span>
                                <br>
                                <span>ZP 1040 preßgasse 20/34, Vienna, Austria</span>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contact-body-form">
                <h1>Get in touch</h1>
                <div class="contact-body-form-body app-fom">
                    <div class="contact-body-form-row">
                        <input class="contact-body-form-column" type="text" placeholder="Your name *"/>
                        <input class="contact-body-form-column" type="text" placeholder="Your email *"/>
                    </div>
                    <div class="contact-body-form-row">
                        <input class="contact-body-form-column" type="text" placeholder="Subject"/>
                    </div>
                    <div class="contact-body-form-row">
                        <textarea class="contact-body-form-column textarea--lg" type="text" placeholder="Your message ..."></textarea>
                    </div>
                    <div class="contact-body-form-row contact-body-form-row--center">
                        <button type="button" class="btn button--lg">Send</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</app-page>