@import '../../global.scss';

.parallax-1 {
  background-image: url('../../../assets/images/img_parallax.jpg');
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.parallax-2 {
    background-image: url('../../../assets/images/vienna1.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-3 {
    background-image: url('../../../assets/images/1116340.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.parallax-4 {
    // background-image: url('../../../assets/images/blog-bg.jpg');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
  

.layout {
    &--opacity-md {
        opacity: 0.5;
    }
    
    &--full-height {
        height: 100vh; 
    }
    &--sm-height {
        height: 30vh;
      }
    &--md-height {
      height: 50vh;
    }
    &--lg-height {
      height: 75vh;
    }
}

.section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $primary;
    position: relative;

    &--body-center {
        color: white;
        position: absolute;
        font-family: 'math';
    }
}

.home {
    height: 100%;
    width: 100%;
}