<app-page>
    <div class="home">
        <div class="parallax-1 layout--opacity layout--full-height col-md-12"></div>
        <!-- 1 -->
        <div class="section layout--sm-height">
            <div class="section--body-center">
                <h1>DPreciado Productions</h1>
                <p>You inspire, we create</p>
            </div>
        </div>
        <!-- 2 -->
        <div class="parallax-2 layout--lg-height"></div>
        <!-- 3 -->
        <div class="section layout--sm-height">
            <div class="section--body-center">
                <p>You inspire, we create</p>
            </div>
        </div>
        <!-- 4 -->
        <div class="parallax-3 layout--lg-height"></div>
    </div>
</app-page>